.about .slides li{
    height: 403px;
}

.about {
    margin: 0 auto;
    width: 988px;

    .about-left {
        margin-right: 45px;
        width: 500px;

    }

    .about-left, .about-right {
        float: left;
    }

    .about-right {
        width: 440px;

        .btn {
            width: 100%;
            line-height: 65px;
        }

        p {
            color: #4d4d4d;
        }
    }

    .about-right-title {
        padding: 18px 15px;
        border-top: 1px solid #b3b3b3;
        border-bottom: 1px solid #b3b3b3;

        .iconfont {
            margin-right: 21px;
            font-size: 65px;
            color: #cc2427;
            vertical-align: middle;
        }

        .title {
            font-size: 26px;
            vertical-align: middle;
        }
    }
}

.category {
    padding-top: 65px;
    padding-bottom: 160px;

    &.bg-gray {
        background-color: #f4f7fa;
    }

    .category-hd {
        position: relative;
        margin-bottom: 80px;
        text-align: center;
    }

    .secondary {
        &:after {
            position: absolute;
            bottom: -19px;
            left: 50%;
            transform: translateX(-50%);
            content: '';
            display: block;
            width: 80px;
            height: 2px;
            background-color: #f23d46;
        }
    }

    .category-bd {
        @include clearfix();

        .service {
            padding-bottom: 41px;
            text-align: center;
            transition: background-color .5s ease;

            .icon {
                margin: 40px auto;
                width: 80px;
                height: 80px;
                padding-top: 25px;
                background: url(../img/aperture.png) no-repeat center center;

                span {
                    font-size: 30px;
                }
            }

            .desc > h4 {
                margin-bottom: 19px;
            }

            .desc > p {
                color: #999;
            }

            &:hover {
                background-color: #f3474b;
                color: #fff;
                border-radius: 6px;

                & .desc > p {
                    color: #fff;
                }
            }
        }
    }

    .category-ft {
        margin-top: 80px;

        .category-action {
            margin: 0 auto;
            display: block;
        }
    }
}

.story {
    a {
        position: relative;
        display: block;
        transition: transform .5s ease-in-out;

        img {
            @include img-responsive()
        }

        .story-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            text-align: center;
            color: #fff;
            background-color: rgba(211, 33, 42, .7);
            transition: opacity .5s ease-out;

            h1 {
                margin-top: 81.5px;
                margin-bottom: 32px;
                transform: translate3d(0, 40px, 0);
                transition: transform .5s ease-in-out;
            }

            p {
                position: relative;
                margin: 0 auto;
                width: 217px;
                letter-spacing: 2.1px;
                transform: translate3d(0, 40px, 0);
                transition: transform .5s ease-in-out;

                &:after {
                    position: absolute;
                    left: 50%;
                    bottom: -17px;
                    content: '';
                    display: block;
                    height: 3px;
                    width: 43px;
                    background-color: #fff;
                    transform: translate3d(-50%, 0, 0);
                }
            }
        }

        &:hover {
            transform: scale(1.18);

            .story-overlay {
                opacity: 1;
            }

            h1 {
                transform: translate3d(0, 0, 0);
            }

            p {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.custom {
    padding-top: 160px;
    background: url(../img/custom-bg.png) no-repeat center top;
    background-color: #fff;

    .custom-left {
        padding: 73px 70px 40px;
        text-align: center;
        color: #fff;
        background-color: $primary-color;

        &, & + .custom-right {
            position: relative;
            float: left;
        }

        > .secondary {
            color: #fffefe;
            position: relative;

            &:after {
                background-color: #fff;
            }
        }

        > .custom-desc {
            margin: 40px 0 48px;

            & > p {
                margin: 0;
                line-height: 25px;
            }
        }

        > .custom-btn {
            margin: 0 auto;
            display: block;
            width: 49px;
            border: 1px solid #fff;
            color: #fff;
            font-size: 19px;
            line-height: 45px;
        }
    }

    .custom-right {
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 825px;
            height: 451px;
            z-index: 2;
        }

        &:after {
            position: absolute;
            right: -855px;
            bottom: -481px;
            display: block;
            content: '';
            width: 370px;
            height: 450px;
            background-color: $primary-color;
            z-index: 1;
        }
    }
}

.footer {
    position: relative;

    .footer-bg {
        position: relative;

        &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            content: '';
            width: 0;
            height: 0;
            border-bottom: 764px solid $primary-color;
            border-left: 735px solid transparent;
            touch-action: none;
        }
    }

    .footer-bg-top {
        height: 324px;
        background-color: #f6f6f6;
    }

    .footer-bg-bottom {
        height: 160px;
        background-color: #333;
    }

    .footer-wrapper {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .address {
        position: relative;
        padding-top: 80px;
        padding-bottom: 24px;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            line-height: 32px;

            > li {
                font-size: 12px;
                color: #999;
            }
        }

        .contact {

            .btn {
                margin-bottom: 19px;

                > span {
                    margin-left: 14px;
                }
            }
        }
    }

    .address-item {

    }

    .address-title {
        margin: 0;
        padding: 28px 0 10px;
        border-top: 2px solid #b3b3b3;
        font-size: 20px;
    }

    .address-title__link {
        padding-bottom: 30px;
        border-bottom: 2px solid #b3b3b3;

        &:not(:first-child) {
            border-top: 0;
        }

        @extend .address-title;
    }

    .share-link {
        margin: 0 15px;
        color: #ccc;

        > span {
            font-size: 25px;
        }
    }

    .copyright {
        position: relative;
        padding: 46px 0;
        color: #ccc;

        p {
            margin: 0;
            line-height: 34px;
        }
    }
}

.sales {
    position: relative;
    z-index: 3;
    .logo {
        padding: 80px 67px;
        text-align: center;
        transition: box-shadow .3s ease-in-out;

        &:hover {
            box-shadow: 0px 0px 25px rgba(0, 0, 0, .2);
        }
    }
}
