.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    margin-top: 70px;
}

.navbar {
    position: relative;
    min-height: 80px;
    padding: 0 15px;
    margin-left: -15px;
    margin-right: -15px;

    .navbar-header {
        float: left;
    }
}

.navbar-brand {
    float: left;
    padding-top: 17px;
}

.nav {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; // Override default ul/ol
    list-style: none;
    @include clearfix;

    > li {
        position: relative;
        float: left;
        margin-right: 25px;

        > a {
            position: relative;
            display: block;
            font-size: 18px;
            color: #333;
            padding-top: 36px;
            padding-bottom: 20px;
            padding-left: $nav-link-padding;
            padding-right: $nav-link-padding;
        }
    }
}

.navbar-nav {
    float: left;
    margin-left: 140px;
}

.navbar-default {
    background-color: #fff;

    .navbar-nav {
        > .active > a {
            color: $navbar-text-active-color;
            border-bottom: 4px solid $navbar-link-active-color;
        }

        .open > a {
            color: $navbar-text-active-color;
        }
    }

    &:before {
        position: absolute;
        left: -10px;
        top: -10px;
        content: '';
        display: block;
        width: 60px;
        height: 60px;
        background-color: $navbar-background-color;
        z-index: -1;
    }
}

.navbar-btn {
    margin-top: 15.5px;
    margin-bottom: 15.5px;
}

.nav-tabs {
    margin-left: -15px;
    margin-right: -15px;

    > li {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }

        & > a {
            padding: 23px 0;
            width: 180px;
            font-size: 24px;
            text-align: center;
            background-color: #fff;
        }

        &.active > a {
            &,
            &:hover,
            &:focus {
                @extend a:hover;
            }
        }

        & > a:hover {
            color: #fff;
            background-color: $navbar-background-color;
        }
    }

}

// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
    margin: 90px -15px 0;

    > .tab-pane {
        display: none;
    }
    > .active {
        display: block;
    }
}

.dropdown-menu {
    position: absolute;
    top: 80px;
    display: none;
    padding: 0;
    width: 100%;
    background-color: #fff;
    list-style: none;
    text-align: center;
    z-index: 500;

    > li > a {
        display: block;
        padding: 8px 0;
        white-space: nowrap;
    }

    > li {
        &.active > a,
        > a:hover,
        > a:focus {
          color: #fff;
            background-color: $dropdown-background-color;
        }
    }

    .open > & {
        display: block;
    }
}
