* {
    box-sizing: border-box;
}
*:before,
*:after {
    box-sizing: border-box;
}

.flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 700px;
    position: relative;
}

