// grid
$container-width: 1200px;
$grid-columns: 12;
$grid-gutter-width: 30px;

// button
$btn-font-weight: 400;
$btn-font-size: 18px;

$btn-primary-color: #dc3941;
$btn-primary-bg: #fff;
$btn-primary-border: #f3474b;

$btn-reverse-color: #fff;
$btn-reverse-bg: #f23d46;
$btn-reverse-border: #dc3841;

$btn-lg-width: 500px;
$btn-lg-font: 18px;
$btn-lg-height: 80px;
$btn-lg-border-radius: 0;

$btn-md-width: 260px;
$btn-md-font: 18px;
$btn-md-height: 60px;
$btn-md-border-radius: 0;

$btn-sm-width: 126px;
$btn-sm-font: 18px;
$btn-sm-height: 47px;
$btn-sm-border-radius: 4px;
