// stage
$font-family-base: tahoma,arial,"pingfang sc",'Hiragino Sans GB','\5b8b\4f53',sans-serif;
$body-bg: #fff;
$font-size-base: 14px;

// type
$headings-font-weight:    400 !default;
$headings-line-height:    1 !default;
$headings-color:          inherit !default;

$secondary-color: #999 !default;
$secondary-size: 26px !default;
$secondary-line-height:    1 !default;

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px


// grid
$container-width: 1200px;
$grid-columns: 12;
$grid-gutter-width: 30px;

// button
$btn-font-weight: 400;
$btn-font-size: 18px;

$btn-primary-color: #dc3941;
$btn-primary-bg: #fff;
$btn-primary-border: #f3474b;

$btn-reverse-color: #fff;
$btn-reverse-bg: #f23d46;
$btn-reverse-border: #dc3841;

$btn-lg-width: 500px;
$btn-lg-font: 18px;
$btn-lg-height: 80px;
$btn-lg-border-radius: 0;

$btn-md-width: 260px;
$btn-md-font: 18px;
$btn-md-height: 60px;
$btn-md-border-radius: 0;

$btn-sm-width: 126px;
$btn-sm-font: 18px;
$btn-sm-height: 47px;
$btn-sm-border-radius: 4px;

// nav
$nav-link-padding: 19px;
$navbar-text-active-color: #f23d46;
$navbar-link-active-color: #f3474b;
